@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Front Page";

    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <H1 class="display-4">Velkommen, @user.UserName!</H1>
    }
    else
    {
        <h1 class="display-4">Velkommen</h1>
    }

   
    
    
    

 
</div>
