@page
@using Microsoft.AspNetCore.Identity;
@model HackingProjekt.Pages.MoviesScafold.EditModel
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
    var user = await UserManager.GetUserAsync(User);
}

<h1>Rediger</h1>

<h4>Anmendelse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.Id" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Udkomst" class="control-label"></label>
                <input asp-for="Movie.Udkomst" class="form-control" />
                <span asp-validation-for="Movie.Udkomst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
                
            </div>
           
            <div class="form-group">
                <label asp-for="Movie.Aldersgrænse" class="control-label"></label>
                <div class="form-group">
                    <select asp-for="Movie.Aldersgrænse" class="form-control" asp-items="@(new SelectList(Model.AldersMærker))">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="Movie.Aldersgrænse" class="text-danger"></span>
                </div>
                <span asp-validation-for="Movie.Aldersgrænse" class="text-danger"></span>
            </div>

            <div class="form-group" id="An">
                <label asp-for="Movie.Andmenelse" class="control-label"></label>
                <textarea asp-for="Movie.Andmenelse" class="form-control" style="height: 1000px; width: 1000px"></textarea>
                <span asp-validation-for="Movie.Andmenelse" class="text-danger"></span>
            </div>
            <input asp-for="Movie.Forfatter" class="form-control" type="hidden" value="@user.UserName" />
            <b></b>
            <b></b>
            <div class="form-group">
                <input type="submit" value="Ændre" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Tilbage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
