@page
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model HackingProjekt.Pages.Account.profilePageModel
@{
    var user = await UserManager.GetUserAsync(User);
}


<div class="container mt-4">
    <h2>Profil</h2>

    <dl>
        <dt>Brugernavn:</dt>
        <dd>@user.UserName</dd>

        @if (User.HasClaim("15+", "true"))
        {
            <p>Denne Bruger kan se og lave anmeldelser om film med aldersgrænse 15+</p>
            <form method="post" asp-page-handler="ToggleAdultClaimDelete">
                <button type="submit" class="btn btn-danger">Slå +15 anmeldelser Fra</button>
            </form>
        }
        else
        {
            <p>Denne Bruger kan IKKE se og lave anmeldelser om film med aldersgrænse 15+.</p>
            <form method="post" asp-page-handler="ToggleAdultClaimAdd">
                <button type="submit" class="btn btn-success">Slå +15 anmeldelser til</button>
            </form>
        }

    </dl>

    <a class="btn btn-primary" asp-page="/Account/editUserName">Ændre Brugernavn</a>
</div>